@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";   


.clip-hexagon {
  clip-path: polygon(
    25% 6%,
    75% 6%,
    100% 50%,
    75% 94%,
    25% 94%,
    0% 50%
  );
}
